<form class="gh-form" data-members-form>
    <input class="gh-form-input" type="email" placeholder="jamie@example.com" required data-members-email>
    <button class="gh-head-btn gh-btn gh-primary-btn" type="submit">
        <span><span>Subscribe</span></span>
    </button>
</form>
